<div layout="row"
    layout-padding
    class="bg-dark-blue nav-dark navbar md-whiteframe-2dp"
    layout-align="space-between center">

    <div class="navbar__left">
        <a ui-sref="app" class="navbar__item navbar__link navbar__logo">
            Student Portal
        </a>
    </div>
    <div class="navbar__right">
        <a ui-sref="app.auth.login" class="navbar__item navbar__link" ng-show="!$ctrl.loggedIn">
            Login
        </a>
        <div ng-show="$ctrl.loggedIn">
            <a ui-sref="app.dashboard.student" class="navbar__item navbar__link">Dashboard</a>
            <a ui-sref="app.auth.logout" class="navbar__item navbar__link">
                Log out
            </a>
        </div>
    </div>
</div>