<h1>Seminar schedule</h1>

<table class="table md-whiteframe-1dp">
    <tr class="header">
      <th class="column">Day</th>
      <th class="column">Morning</th>
      <th class="column">Afternoon</th>
      <th class="column">Evening</th>
    </tr>
    <tr>
      <td class="column">Monday</td>
      <td class="column"></td>
      <td class="column"></td>
      <td class="column"></td>
    </tr>
    <tr>
      <td class="column">Tuesday</td>
      <td class="column">Francisco Chang</td>
      <td class="column">Mexico</td>
      <td class="column">Mexico</td>
    </tr>
    <tr>
      <td class="column">Wednesday</td>
      <td class="column">Roland Mendel</td>
      <td class="column">Austria</td>
      <td class="column">Austria</td>
    </tr>
    <tr>
      <td class="column">Thursday</td>
      <td class="column">Helen Bennett</td>
      <td class="column">UK</td>
      <td class="column">UK</td>
    </tr>
    <tr>
      <td class="column">Friday</td>
      <td class="column">Yoshi Tannamuri</td>
      <td class="column">Canada</td>
      <td class="column">Canada</td>
    </tr>
  </table>