<h1>Seminar schedule</h1>

<table class="table md-whiteframe-1dp">
    <tr class="header">
      <th class="column">Company</th>
      <th class="column">Contact</th>
      <th class="column">Country</th>
    </tr>
    <tr>
      <td class="column">Alfreds Futterkiste</td>
      <td class="column">Maria Anders</td>
      <td class="column">Germany</td>
    </tr>
    <tr>
      <td class="column">Centro comercial Moctezuma</td>
      <td class="column">Francisco Chang</td>
      <td class="column">Mexico</td>
    </tr>
    <tr>
      <td class="column">Ernst Handel</td>
      <td class="column">Roland Mendel</td>
      <td class="column">Austria</td>
    </tr>
    <tr>
      <td class="column">Island Trading</td>
      <td class="column">Helen Bennett</td>
      <td class="column">UK</td>
    </tr>
    <tr>
      <td class="column">Laughing Bacchus Winecellars</td>
      <td class="column">Yoshi Tannamuri</td>
      <td class="column">Canada</td>
    </tr>
    <tr>
      <td class="column">Magazzini Alimentari Riuniti</td>
      <td class="column">Giovanni Rovelli</td>
      <td class="column">Italy</td>
    </tr>
  </table>