/**{
    background-color: rgba(0,0,0,0.1);
}*/
.test{
    background-color: #3e3e3e;
}
/*
  Authentication form
 */
.register-button{
  margin: 20px;
}
.register-button a{
  text-decoration: none;
}

/*Square Card*/

.card-square.mdl-card {
    /*width: 320px;*/
    height: 320px;
}

.park-card > .mdl-card__title {
    color: #fff;
    background: url('img/red-car.png') 90% 80% no-repeat #46B6AC;
}

.seminar-card > .mdl-card__title {
    color: #fff;
    background: url('img/seminar-02.png') 100% 90% no-repeat #46B6AC;
}

.transcript-card > .mdl-card__title {
    color: #fff;
    background: url('img/transcript.png') 90% 80% no-repeat #46B6AC;
}

.parking-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: #46B6AC;
}

.parking-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.parking-card-event > .mdl-card__title {
    align-items: flex-start;
}

.parking-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}

.parking-card-event > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.parking-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}

.parking-card-event > .mdl-card__title, .parking-card-event > .mdl-card__actions, .parking-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
}

.showError {
    color: red;
}
/*  Card Styling */
.parking-space {
    background-color: #46B6AC;
    padding: 25px 25px 50px 25px;
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.active{
    background-color: red;
    font-size: 30px;
    text-align: center;
}

.billing-card{
    background-color: #46b6ac;
}
.billing-card > .mdl-card__supporting-text  {
    padding-top: 0;
}
.billing-card > .mdl-card__supporting-text > h4 {
    margin-top: 0;
}
.billing-card > .mdl-card__title,
.billing-card > .mdl-card__supporting-text,
.billing-card > .mdl-card__actions,
.billing-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}
.success  {
    text-align: center;
    color: #46b6ac;
}
.success > i {
    font-size: 100px;
}
.veri {
    margin-top: 30px;
}