<div class="mdl-grid">
    <!-- <div class="mdl-layout-spacer"></div> -->
    <div class="mdl-cell mdl-cell--8-col">
        <h3>Select your desired parking spaces</h3>
    </div>
    <!-- <div class="mdl-layout-spacer"></div> -->
</div>
<!-- Parking space selection -->
<div class="mdl-grid" ng-select ng-model="park.selection.chosen" ng-click="selectedNumber(park.selection.chosen)">
    <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
    <div ng-repeat="item in items" class="mdl-cell mdl-cell--3-col md-cell--4-col-tablet mdl-cell--4-col-phone parking-space" ng-select-option="item.value" select-class="{'active': $optSelected}">
        <i class="material-icons" ng-show="park.selection.chosen == item.value">done</i>
        <span ng-hide="park.selection.chosen == item.value">{{ item.display }}</span>
    </div>
    <div class="mdl-layout-spacer mdl-layout--large-screen-only"></div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" ng-show="!park.selection.chosen">
        <h5>Please select you parking spaces above.</h5>
    </div>
    <div class="mdl-cell mdl-cell--6-col" ng-show="park.selection.chosen">
        <h5>You have choose parking space number {{park.selection.chosen}}.</h5>
        <p>The amount is RM80</p>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <button ng-click="processPayment(park.selection.chosen)" class="mdl-button mdl-js-button mdl-button--raised" ng-disabled="!park.selection.chosen">
        Pay Now
        </button>
    </div>
</div>