<div layout="column">
    <md-card class="md-card--auth">
        <md-card-title class="md-card--auth__header">
            <md-card-title-text>
                <h2 class="md-headline">Login</h2>
            </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <md-input-container class="md-block">
                <label>Email</label>
                <input ng-model="user.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input ng-model="user.password">
            </md-input-container>
            <md-button class="md-accent md-raised">Log In</md-button>
        </md-card-content>
    </md-card>
</div>