<div layout="column" class="auth-container">
    <div flex="20">
        <md-card>
            <md-card-header>
                <md-card-avatar>
                    <img src="">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">AngularJS</span>
                    <span class="md-subhead">Material</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card header</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest
                    Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>